<!DOCTYPE html>
<html lang="en">


<!-- molla/index-3.html  22 Nov 2019 09:55:42 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>AUDIONIX</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="assets/images/icons/site.html">
    <link rel="mask-icon" href="assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/plugins/jquery.countdown.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/skins/skin-demo-3.css">
    <link rel="stylesheet" href="assets/css/demos/demo-3.css">
</head>
<body>
    



<main class="main" style="margin-top: -70px;">
   
    <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-color: rgb(255, 255, 255); border-radius: 15px;">
        <div class="container">
            <div class="form-box">
                <div class="form-tab">
                    <ul class="nav nav-pills nav-fill" role="tablist">
                       
                           <h2 class="nav-link"> Admin Login</h2>
                      
                    </ul>
                    <div class="tab-content">
                        <div  id="signin-2"  aria-labelledby="signin-tab-2">
                            <form action="" method="post" id="login-form">
                                <div class="form-group">
                                    <label for="singin-email-2">Email address </label>
                                    <input type="email" class="form-control" id="singin-email-2" name="email">
                                    <div class="error-message" style="color: red;" id="email-error"></div> 
                                </div>
                            
                                <div class="form-group">
                                    <label for="singin-password-2">Password </label>
                                    <input type="password" class="form-control" id="singin-password-2" name="password">
                                    <div class="error-message" style="color: red;" id="password-error"></div> 
                                </div>
                            
                                <div class="form-footer">
                                   
                            
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="signin-remember-2">
                                        <label class="custom-control-label" for="signin-remember-2">Remember Me</label>
                                    </div>
                            
                                    <a href="/forgotPassword" class="forgot-link">Forgot Your Password?</a>
                                </div>
                                <div style="display: flex; justify-content: center;">
                                    <button type="submit" class="btn btn-primary" style="padding: 10px;">
                                        <span >LOG IN</span>
                                        <i class="icon-long-arrow-right"></i>
                                    </button>
                                </div>
                                
                            </form>
                            <div id="text-center">
                                <% if (typeof message !== 'undefined' && message) { %>
                                    <p style="color:  rgb(193, 7, 7);" id="message text-center"><%= message %></p>
                                <% } %>
                            </div>  
                            <div id="invalid text-center">
                                <% if (typeof error !== 'undefined' && error) { %>
                                    <p style="color: red;" id="message text-center"><%= error %></p>
                                <% } %>
                            </div>  
                            </div> 
                            <!-- <div class="">
                                <p class="text-center">Don't have an account ?</p>
                                <p class="text-center"><a href="/signup">
                                    Sign-up
                                </a></p>
                            </div> -->
                            
                        </div><!-- .End .tab-pane -->
                      <!-- .End .tab-pane -->
                    </div><!-- End .tab-content -->
                </div><!-- End .form-tab -->
            </div><!-- End .form-box -->
        </div><!-- End .container -->
    </div><!-- End .login-page section-bg -->
</main><!-- End .main -->



<script>
    document.getElementById('login-form').addEventListener('submit', function (e) {
        // Get form input values
        const emailInput = document.getElementById('singin-email-2');
        const passwordInput = document.getElementById('singin-password-2');

        // Get error message elements
        const emailError = document.getElementById('email-error');
        const passwordError = document.getElementById('password-error');

        // Reset previous error messages
        emailError.textContent = '';
        passwordError.textContent = '';

        // Validate email field
        if (emailInput.value.trim() === '') {
            e.preventDefault(); // Prevent form submission
            emailError.textContent = 'Email is required';
            emailInput.focus();
            return;
        }

        // Validate password field
        if (passwordInput.value.trim() === '') {
            e.preventDefault(); // Prevent form submission
            passwordError.textContent = 'Password is required';
            passwordInput.focus();
            return;
        }
    });
</script>

<%- include('../layouts/footer.ejs') %>